[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "VectorForgeML"]
	path = VectorForgeML
	url = https://github.com/mohd-musheer/vectorforgeml
